.card {
  width: 25em;
}

.card-title {
  text-align: center;
  margin-bottom: 30px;
}

.signup-fields {
  margin-bottom: 30px;
}

.signup-action-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-action-area a {
  margin-left: 20px;
}
